<template>
  <section class="pt5">

    <div class="fixed top-0 left-0 right-0">
      <div class="mw6 center mb3 ph3 pt3 bg-white">
        <nuxt-link
          class="f2 bold link black dim hover-blue"
          to="/">&lt;</nuxt-link>
      </div>
    </div>

    <img
      class="mw100 mb3 bb bt bw2"
      v-if="member.image"
      :src="member.image" />

    <header id="names"
      class="lh-title pa3">
      <h1 class="f3 ma0">{{ member.lastName }}</h1>
      <span class="f4">{{ member.firstNames }}<span v-if="member.firstNamesChildren">; {{ member.firstNamesChildren}}</span></span>
    </header>

    <dl
      class="lh-title ph3 pt4 pb2 mv0"
      v-if="phones.length">
      <dt class="f6 b">Phone:</dt>
      <dd
        class="ml0"
        v-for="phone in phones">{{ phone }}</dd>
    </dl>

    <dl
      class="lh-title ph3 pv2 mv0"
      v-if="emails.length">
      <dt class="f6 b">Email:</dt>
      <dd
        class="ma0"
        v-for="email in emails">
        <a
          class="link blue hover-red"
          :href="`mailto:${email}`">{{ email }}</a>
      </dd>
    </dl>

    <div
      class="lh-title ph3 pt2 pb4 mv0"
      v-if="member.city">
      <span class="f6 b">Address:</span>
      <address class="ml0 fs-normal">
        {{ member.address1 }}<br>
        <template v-if="member.address2">
          {{ member.address2 }}<br>
        </template>
        {{ member.city }}, {{ member.state }} {{ member.zip }}
      </address>
    </div>

    <div class="mt3">
      <member-map 
        class="bt bw2"
        :address="member.address1"
        :city="member.city"
        :state="member.state"
        :zip="member.zip" />
      <!--
      <member-map
        address="938 Stafford Road"
        city="Mansfield"
        state="CT"
        zip="06268" />
      -->
    </div>

  </section>
</template>

<script>

import MemberMap from '@/components/MemberMap.vue'

export default {

  components: {
    MemberMap
  },

  data() {
    return {
      member: this.$store.state.members[this.$route.params.id]
    }
  },

  computed: {
    phones() {
      // return array of phone numbers (str).
      // Right now, this is just different keys from the member object. In the future, this may involve splitting a comma separated string into an array of phone numbers or something like that...

      // filter phones list by those that are non-empty
      const phones = [
        this.member.phoneA,
        this.member.phoneB,
        this.member.phoneC
      ].filter( str => { return (!!str) ? str : false })

      return phones
    },

    emails() {
      // return array of emails.
      // Right now, this is just different keys from the member object. In the future, this may involve splitting a comma separated string into an array of emails or something like that...

      // filter email list by those that are non-empty
      const emails = [
        this.member.emailA,
        this.member.emailB
      ].filter( str => { return (!!str) ? str : false })

      return emails
    }
  }

}
</script>

<style lang="scss">
</style>

