<template>
  <div id="memberMap"></div>
</template>

<script>

import axios from 'axios'

export default {

  props: ['address','city','state','zip'],

  data() {
    return {
      accessToken: 'pk.eyJ1IjoiYWJlbWlsbGV0dCIsImEiOiJjam8zOWlnZG4wamJwM290YmlhMnJtZnNkIn0.GiDR1aKWNb0NUaSVMwlaWA'
    }
  },

  methods: {

    async getCoords() {
      // get coordinates from address

      const query = encodeURIComponent(`${this.address} ${this.city}, ${this.state} ${this.zip}`)
      const response = await axios.get(`https://api.mapbox.com/geocoding/v5/mapbox.places/${query}.json?access_token=${this.accessToken}&autocomplete=false&types=address&limit=1`)

      return response.data.features[0].center
    },

    async createMap (coords) {
      // initialize an embeded map

      const mapboxgl = require('mapbox-gl/dist/mapbox-gl.js')

      mapboxgl.accessToken = this.accessToken

      const map = new mapboxgl.Map({
        container: 'memberMap',
        style: 'mapbox://styles/abemillett/cjoxag7oec0kv2sn9wdngx2pv',
        center: coords,
        zoom: 11,
        pitch: 0,
        minZoom: 2,
        maxZoom: 20,
        attributionControl: false
      })

      // initialize popup
      const markerHeight = 50
          , markerRadius = 10
          , linearOffset = 25
      const popupOffsets = {
        'top': [0, 0],
        'top-left': [0,0],
        'top-right': [0,0],
        'bottom': [0, -markerHeight],
        'bottom-left': [linearOffset, (markerHeight - markerRadius + linearOffset) * -1],
        'bottom-right': [-linearOffset, (markerHeight - markerRadius + linearOffset) * -1],
        'left': [markerRadius, (markerHeight - markerRadius) * -1],
        'right': [-markerRadius, (markerHeight - markerRadius) * -1]
      }
      const directionsQuery = escape(`${this.address} ${this.city}, ${this.state} ${this.zip}`)
      const popup = new mapboxgl.Popup({offset: popupOffsets})
        .setHTML(`
          <div class="bg-white">
            <p>Get <a class="link blue hover-red" href="http://maps.google.com/maps?q=${directionsQuery}" target="_blank">directions</a></p>
          </div>
        `)
        .addTo(map)

      // add marker
      const marker = new mapboxgl.Marker()
        .setLngLat(coords)
        .setPopup(popup)
        .addTo(map)
    }
  },

  async mounted() {

    // get the mapbox-gl styles
    const style = document.createElement('link')
    style.setAttribute('href', 'https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css')
    style.setAttribute('rel', 'stylesheet')
    document.head.appendChild(style)

    // try to embed the map
    try {
      await this.createMap(await this.getCoords())
    } catch(error) {
      console.log(error)
    }

  }

}

</script>

<style lang="scss">
#memberMap {
  height: 16rem; // .h5 from tachyons
}
</style>
