<template>
  <section class="ph3">

    <h1 class="f1">Directory</h1>

    <span
      id=""
      class="f6 i black-60 db mb2"
      >Type to filter the list</span>
    <input
      id=""
      class="input-reset ba b--black-20 pa2 mb2 db w-100"
      type="text"
      v-model:value="query" />

    <ul class="list pl0">
      <li
        class="lh-copy pv3 ba bl-0 bt-0 br-0 b--dotted b--black-30"
        v-for="member in members"
        :key="member._id">
        <nuxt-link
          class="db black link hover-blue"
          :to="{ name: 'u-id', params: { id: member.index }}">
          <strong>{{ member.lastName }}</strong><small class="fr i">{{ member.city }}, {{ member.state }}</small><br>
          <small>{{ member.firstNames }}<span v-if="member.firstNamesChildren">; </span>{{ member.firstNamesChildren }}</small>
        </nuxt-link>
      </li>
    </ul>

  </section>
</template>

<script>
import fuzzysort from 'fuzzysort'

export default {

  data () {
    return {
      query: "",
      members: this.$store.state.members
    }
  },

  watch: {
    query: function(query) {

      if (!!query) {

        const opts = {
          allowTypos: true,
          keys: ["lastName", "firstNames", "firstNamesChildren", "city"]
        }

        const promise = fuzzysort.goAsync(query, this.members, opts)
        promise.then(results => {
          this.members = results.map(result => result.obj )
        })

      } else {
        this.members = this.$store.state.members
      }

    }
  }

}
</script>

<style>
</style>
